In [66]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [67]:
## load the ann trained model, scaler pickle, ohe pickle

print("model successfully loaded")
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file=file)

with open('one_hot_encoder_geo.pkl','rb') as file:
    one_hot_encoder=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler= pickle.load(file=file)

model successfully loaded

In [68]:
## input data
input_data={
    'CreditScore': 600,
    'Geography':'Germany',
    'Gender':'Male',
    'Age':36,
    'Tenure':5,
    'Balance':55444,
    'NumOfProducts':3,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':83928

}

In [69]:
geo_encoded=one_hot_encoder.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=one_hot_encoder.get_feature_names_out(['Geography']))

/home/rahulpuppala/Documents/Python_Work/udemy_course/ANN Classification Project/myenv/lib/python3.12/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [70]:
input_df=pd.DataFrame([input_data])

In [71]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                1.0              0.0

In [72]:
#input_df=pd.concat([input_df.reset_index(drop=True),geo_encoded_df],axis=1)

In [73]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,Germany,Male,36,5,55444,3,1,1,83928

In [74]:
# encode categorical variables
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])

In [75]:
input_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,Germany,1,36,5,55444,3,1,1,83928

In [76]:
#concatenation with ohe 
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)

In [77]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,36,5,55444,3,1,1,83928,0.0,1.0,0.0

In [78]:
# scaling the input data
input_scaled=scaler.transform(input_df)

In [79]:
model=load_model('model.h5')
predict_churn=model.predict(input_scaled)
predict_churn

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

WARNING:tensorflow:5 out of the last 5 calls to <function TensorFlowTrainer.make_predict_function.<locals>.one_step_on_data_distributed at 0x7519305baa20> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

WARNING:tensorflow:5 out of the last 5 calls to <function TensorFlowTrainer.make_predict_function.<locals>.one_step_on_data_distributed at 0x7519305baa20> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 125ms/step

array([[0.29267412]], dtype=float32)

In [80]:
proba=predict_churn[0][0]
proba

np.float32(0.29267412)

In [81]:
if proba>0.5:
    print("the customer is likely to churn")
else:
    print("the customer is not likely to churn")

the customer is not likely to churn